Intermediate SQL

Query: Request data from database.

Using PostgreSQL.

In [ ]:
-- 1. Using Keywords count & view specified amount of records.
-- 2. Execution & Style
-- 3. Filtering
-- 4. Aggregate functions
-- 5. Sorting & Grouping

COUNT()

In [ ]:
-- COUNT(field_name): 
-- # of records w/ a value in a field
-- Use an alias for clarify

SELECT COUNT(brithdate) AS count_birthdates
FROM people;

-- COUNT() multiple fields:
SELECT COUNT(name) AS count_names, COUNT(birthdate) AS count_birthdates
FROM people;

-- COUNT(*) countes total records in a table, * reps all fields:
SELECT COUNT(*) AS total_records
FROM people;

DISTINCT

In [ ]:
-- DISTINCT removes duplicates to return only unique values
SELECT DISTINCT language
FROM films;

In [ ]:
-- COUNT() w/ DISTINCT: Count unique values in the field
SELECT COUNT(DISTINCT birthdate) AS count_distinct_birthdates
FROM people;

Query Execution

In [ ]:
-- SQL is NOT processed in its written order
-- Example:
SELECT name -- Second, select the target
FROM people -- First, find the obj
LIMIT 10; -- Last, add cond, limit the # of return results

-- Alias AS reference is made (declaration) is made after SELECT processed

In [ ]:
-- Debugging SQL Codes & Read Error msgs
-- (1) Misspelling
-- (2) Incorrect capitalization
-- (3) Incorrect or missing punctuation: comma

SQL Style/Formatting

In [ ]:
-- Following formats are fine but not good
-- (1) Capitalization
select title, release_year, country from films limit 3
-- (2) Newlines 
SELECT
    title,
    release_year,
    country
FROM films
LIMIT 3;
-- (3) Semicolon is unnecessary in PostgreSQL

In [ ]:
-- Dealing w/ non-standard field names
-- (1) Put non-standard field names in double-quotes:
SELECT title, "release year", country
FROM films
LIMIT 3;

Filtering Numbers

In [ ]:
-- WHERE w/ comparison operators

SELECT tiitle
FROM films
WHERE release_year > 1960;

-- '<>' means Not equal to
SELECT title
FROM films
WHERE release_year <> 1960;

-- WHERE w/ strs, use '' around strs want to filter
SELECT title
FROM films
WHERE country = 'Japan';

-- Order of execution: similar to LIMIT & prior to SELECT, after the FROM

Multiple Criteria: OR, AND, BETWEEN

In [ ]:
-- Enhance WHERE by adding multiple criteria

-- OR
SELECT *
FROM coats
WHERE color = 'yellow' OR length = 'short';

SELECT *
FROM coats
WHERE buttons BETWEEN 1 AND 5;


SELECT title
FROM films
WHERE release_year = 1994
    OR release_year = 2000;

In [ ]:
-- AND, OR for multiple filtering conds w/ '()'
SELECT title
FROM films
WHERE (release_year = 1994 OR release_year = 1995)
    AND (certification = 'PG' OR certification = 'R')

In [ ]:
-- BETWEEN, AND
-- (1) & (2) are the same:
-- (1)
SELECT title
FROM films
WHERE release_year >= 1994
    AND release_year <= 2000;
-- (2)
SELECT title
FROM films
WHERE release_year
    BETWEEN 1994 AND 2000;

-- Multiple Criterias for BETWEEN
SELECT title
FROM films
WHERE release_year
BETWEEN 1994 AND 2000 AND country='UK'

Filtering Text

In [ ]:
-- WHERE can do filter text
SELECT title
FROM films
WHERE country = 'Japan';

In [ ]:
-- Filter a patten rather than specific text
-- LIKE, NOT LIKE, IN

-- (1) LIKE: search for a pattern in a field
--  (i) '%' match zero, one or many chars
SELECT name
FROM people
WHERE name LIKE 'Ade%';
--  (ii) '_' match a single char
SELECT name
FROM people
WHERE name LIKE 'Ev_';
--  (iii) ends w/
SELECT name
FROM people
WHERE name LIKE '%r';
---  (iv) other
---  third char is 't'
SELECT name 
FROM people
WHERE name LIKE '__t%';

-- (2) NOT LIKE
SELECT name
FROM people
WHERE name NOT LIKE 'A.%';

In [ ]:
-- Select multiple OR after WHERE can cause messy
-- Use 'IN' to help:

SELECT title
FROM films
WHERE release_year IN (1920, 1930, 1940);

NULL values

In [ ]:
-- COUNT(field_name) includes only non-missing values
-- COUNT(*) includes missing values
-- null: used when missing values appear for human error, infor not ava, unknown.

In [ ]:
-- IS NULL w/ WHERE clause indicates how much of data is missing
SELECT name
FROM people
WHERE birthdate IS NULL;

SELECT COUNT(*) AS no_birthdates
FROM people
WHERE birthdate IS NULL;

In [ ]:
-- IS NOT NULL: filter out missing values in the table
SELECT COUNT(name) AS no_birthdates
FROM people
WHERE birthdate IS NOT NULL;

In [ ]:
-- COUNT() vs. IS NOT NULL
SELECT COUNT(certification) AS count_certification
FROM films;

SELECT COUNT(certification) AS count_certification
FROM films
WHERE certification IS NOT NULL;
-- two ways give the same thing, since COUNT(field) gives non-missing values

Summarizing Data w/ Aggregate Functions

In [ ]:
-- When analyzing data, understand the dataset as a whole in addition to looking at individual records.

-- COUNT() is one Aggregate Func.

-- Other Four Aggregate Functions:
-- (1) AVG()
-- (2) SUM()
-- (3) MIN()
-- (4) MAX()

In [ ]:
SELECT AVG(budget)
FROM films;

SELECT SUM(budget)
FROM films;

SELECT MIN(budget)
FROM films;

SELECT MAX(budget)
FROM films;

Non-numerical data

AVG() and SUM() are two aggregate funcs can only use on numerical fields since require arithmetic.

MIN(), MAX(), and COUNT() can be used in various types of data.

In [ ]:
SELECT MIN(country) -- countries in order of alphabet
FROM films;

Summarizing Subsets

In [ ]:
-- Using WHERE w/ aggregate funcs
SELECT AVG(budget) AS avg_budget
FROM films
WHERE release_year >= 2010;

Clean Up Decimals that might appear using ROUND()

In [ ]:
-- Round a num to a specificed decimal.
-- Only be used w/ numberical fields.

-- ROUND(num_to_round, decimal_places), by default decimal place is 0.
SELECT ROUND(AVG(budget), 2) AS avg_budget
FROM films
WHERE release_year >= 2010;

-- ROUND() using a negative parameter, round to places to the left
SELECT ROUND(AVG(budget), -5) AS avg_budget
FROM films
WHERE release_year >= 2010;