Intermediate SQL

Query: Request data from database.

Using PostgreSQL.

In [ ]:
-- 1. Using Keywords count & view specified amount of records.
-- 2. Execution & Style
-- 3. Filtering
-- 4. Aggregate functions
-- 5. Sorting & Grouping

COUNT()

In [ ]:
-- COUNT(field_name): 
-- # of records w/ a value in a field
-- Use an alias for clarify

SELECT COUNT(brithdate) AS count_birthdates
FROM people;

-- COUNT() multiple fields:
SELECT COUNT(name) AS count_names, COUNT(birthdate) AS count_birthdates
FROM people;

-- COUNT(*) countes total records in a table, * reps all fields:
SELECT COUNT(*) AS total_records
FROM people;

DISTINCT

In [ ]:
-- DISTINCT removes duplicates to return only unique values
SELECT DISTINCT language
FROM films;

In [ ]:
-- COUNT() w/ DISTINCT: Count unique values in the field
SELECT COUNT(DISTINCT birthdate) AS count_distinct_birthdates
FROM people;

Query Execution

In [ ]:
-- SQL is NOT processed in its written order
-- Example:
SELECT name -- Second, select the target
FROM people -- First, find the obj
LIMIT 10; -- Last, add cond, limit the # of return results

-- Alias AS reference is made (declaration) is made after SELECT processed

In [ ]:
-- Debugging SQL Codes & Read Error msgs
-- (1) Misspelling
-- (2) Incorrect capitalization
-- (3) Incorrect or missing punctuation: comma

SQL Style/Formatting

In [ ]:
-- Following formats are fine but not good
-- (1) Capitalization
select title, release_year, country from films limit 3
-- (2) Newlines 
SELECT
    title,
    release_year,
    country
FROM films
LIMIT 3;
-- (3) Semicolon is unnecessary in PostgreSQL

In [ ]:
-- Dealing w/ non-standard field names
-- (1) Put non-standard field names in double-quotes:
SELECT title, "release year", country
FROM films
LIMIT 3;

Filtering Numbers

In [ ]:
-- WHERE w/ comparison operators

SELECT tiitle
FROM films
WHERE release_year > 1960;

-- '<>' means Not equal to
SELECT title
FROM films
WHERE release_year <> 1960;

-- WHERE w/ strs, use '' around strs want to filter
SELECT title
FROM films
WHERE country = 'Japan';

-- Order of execution: similar to LIMIT & prior to SELECT, after the FROM

Multiple Criteria: OR, AND, BETWEEN

In [ ]:
-- Enhance WHERE by adding multiple criteria

-- OR
SELECT *
FROM coats
WHERE color = 'yellow' OR length = 'short';

SELECT *
FROM coats
WHERE buttons BETWEEN 1 AND 5;


SELECT title
FROM films
WHERE release_year = 1994
    OR release_year = 2000;

In [ ]:
-- AND, OR for multiple filtering conds w/ '()'
SELECT title
FROM films
WHERE (release_year = 1994 OR release_year = 1995)
    AND (certification = 'PG' OR certification = 'R')

In [ ]:
-- BETWEEN, AND
-- (1) & (2) are the same:
-- (1)
SELECT title
FROM films
WHERE release_year >= 1994
    AND release_year <= 2000;
-- (2)
SELECT title
FROM films
WHERE release_year
    BETWEEN 1994 AND 2000;

-- Multiple Criterias for BETWEEN
SELECT title
FROM films
WHERE release_year
BETWEEN 1994 AND 2000 AND country='UK'

Filtering Text

In [ ]:
-- WHERE can do filter text
SELECT title
FROM films
WHERE country = 'Japan';

In [ ]:
-- Filter a patten rather than specific text
-- LIKE, NOT LIKE, IN

-- (1) LIKE: search for a pattern in a field
--  (i) '%' match zero, one or many chars
SELECT name
FROM people
WHERE name LIKE 'Ade%';
--  (ii) '_' match a single char
SELECT name
FROM people
WHERE name LIKE 'Ev_';
--  (iii) ends w/
SELECT name
FROM people
WHERE name LIKE '%r';
---  (iv) other
---  third char is 't'
SELECT name 
FROM people
WHERE name LIKE '__t%';

-- (2) NOT LIKE
SELECT name
FROM people
WHERE name NOT LIKE 'A.%';

In [ ]:
-- Select multiple OR after WHERE can cause messy
-- Use 'IN' to help:

SELECT title
FROM films
WHERE release_year IN (1920, 1930, 1940);

NULL values